<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>Nest app | Photos</h1>
    {{#each photos}}
      <img src="{{this}}">
    {{/each}}
  </body>
</html>
